JAM_HOST=jam.example.com

# If you have your own stun and turn server
# JAM_STUN_SERVER=stun:stun.example.com:3478
# JAM_TURN_SERVER=turn:turn.example.com:3478
# JAM_TURN_SERVER_USERNAME=foo
# JAM_TURN_SERVER_CREDENTIAL=bar

CHANNEL=stable

# Remove if you have your own traefik server set up on the same docker daemon
COMPOSE_PROFILES=web,coturn

# If you want to enable metrics set
# COMPOSE_PROFILES=web,metrics,coturn
# GRAFANA_ADMIN_PASSWORD=foobar

# If you want to restrict room creation to admins
# JAM_RESTRICT_ROOM_CREATION=true

# If you want to run an SFU on the server to offload streaming from clients and rooms with large audience
# Caveat: this increases the server CPU and network usage
# JAM_SFU=true